{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-4" for="song_title">{{ field.label_tag }}</label>
        <div class="col-sm-8">{{ field }}</div>
    </div>
{% endfor %}